[submodule "Lab 4/Lab 4/-DevOps-Lab-4-MCA_Lab12_STRING"]
	path = Lab 4/Lab 4/-DevOps-Lab-4-MCA_Lab12_STRING
	url = https://github.com/LelutoDeku/-DevOps-Lab-4-MCA_Lab12_STRING
[submodule "Lab 1"]
	path = Lab 1
	url = https://github.com/LelutoDeku/Lab-1-repo
